/* (Tela Cadastro2) */
.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.option-btn {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.option-btn.active {
    background-color: #00C853;
    color: #fff;
}

.option-btn:hover {
    background-color: #e0e0e0;
}

.question-container {
    margin-bottom: 10px;
    text-align: center;
}

.question-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    position: relative;
    display: inline-block;
}

.question-text:hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

.address-row {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.address-row input {
    flex: none;
    width: 175px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    color: #666;
    margin: 15px 0;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.checkbox-label input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #00C853;
    border-color: #00C853;
}

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox-label:hover .custom-checkbox {
    border-color: #00C853;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.error-message, .strength-message {
    font-size: 12px;
    margin-top: 5px;
    display: block;
    min-height: 16px;
}

.cpf-cnpj-row {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #666;
}